@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');



:root{
    font-family: 'Manrope', sans-serif;
    --background: #ECEEF1;
    --backgroundBorder:  rgb(159, 68, 129);
    --backgroundDarker:rgb(141, 54, 102);
}




body{
    height: 100vh;
 background-color: var(--background);
 display: flex;
 justify-content: center;
 align-items: center;
}


main{
    width: 100vw;
    height: 75vh;
}

header{
    width: 100vw;
    height: 13vh;
}

footer{
    width: 100vw;
    height: 7vh;
}